/*Спецификация*/
* {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    color: #000;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

/*header*/
header {
    padding-bottom: 297px;
    background: url(../img/background/bg-1.png) no-repeat;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.header__menu-list {
    display: flex;
}

.header__menu-list li {
    display: block;
    margin: 0 40px
}

.header__menu-list a {
    color: #fff;
    font-size: 14px;
    transition: 124ms linear, transform 124ms linear;
}

.header__menu-list a:hover {
    color: #d1d1d1;;
    transition: 124ms linear, transform 124ms linear;
    
}


.header__btn-panel {
    width: 121px;
    height: 39px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    color: #fff;
    transition: 124ms linear, transform 124ms linear;
}

.header__btn-panel:hover {
    background-color: rgba(0,0,0,.3);
    transition: 124ms linear, transform 124ms linear;
    
}

.header__content-container {
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
}

.header__intro {
    padding-top: 87px;
}

.header__intro h1 {
    font-size: 46px;
    font-weight: bold;
    color: #fff;
}

.header__intro p {
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    margin-top: 37px;
    line-height: 24px;
}

.header__btn-detals {
    height: 39px;
    width: 173px;
    font-weight: bold;
    font-size: 14px;
    color: #0ea7eb;
    margin-top: 40px;
    transition: 124ms linear, transform 124ms linear;
}

.header__btn-detals:hover {
     background-color: rgba(1,1,1,.3);
     transition: 124ms linear, transform 124ms linear;
     color: #fff;
}

.header__img {
    padding-top: 18px;
}

/*Section-raiting*/

.raitings__container {
    margin: 0 auto;
    max-height: 500px;
    text-align: center;
    padding-bottom: 195px;
    
}

.raiting__site {
    margin-top: 85px;
    display: flex;
    align-items: baseline;
    align-items: center;
    justify-content: space-between;
}


.raiting__site img {
    opacity: 0.3;
    transition: opacity 124ms linear, transform 124ms linear;
}

.raiting__img--up {
    margin-bottom: 20px;
}

.raiting__site img:hover {
    opacity: 1;
    cursor: pointer;
}

/*Section-Tarif*/

.tarif__container {
    padding-bottom: 290px;
}

.tarif__button button {
    padding: 10px 40px;
    font-size: 14px;
    color: #ccc;
    margin-top: 52px;
}



.tarif__button button {
    background: #fff;
    margin-left:  5px;
}

.tarif__button button:hover {
    color: #30aeec;
    box-shadow: 0 0 18px 10px rgba(0, 0, 0, 0.1);
    transition: 124ms linear, transform 124ms linear;
}

.tarif__list {
    display: flex;
    margin: 0 auto;
    margin-top: 33px;
    border: 1px solid #bababa;
    max-width: 1178px;
}

.tarif__list-item {
    display: flex;
    flex-direction: column;
}
.tarif__item-name h1{
    font-size: 16px;
    font-weight: 400;
    color: #cccccc;
    letter-spacing: 0.4px;
}

.tarif__item-name {
    
}

.tarif__item-mak h2 {
    font-size: 30px;
    font-weight: 700;
    color: #121212;
    letter-spacing: 0.75px;
}

.item {
    width: 294px;
    height: 64px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tarif__list-item p {
    font-size: 16px;
    font-weight: 400;
    /* Text style for "10 ГБ на S" */
    color: #949494;
    letter-spacing: 0.4px;
}

.tarif__item-mak {
    padding-top: 53px;
    padding-bottom: 31px
}

.tarif__item-price {
    padding-top: 48px;
    padding-bottom: 48px
}

.tarif__item-price h3 {
    font-size: 34px;
    font-weight: 700;
    /* Text style for "219" */
    color: #fff;
}

.tarif__item-progress,
.tarif__item-site {
    background-color: #f6f6f6;
}

.tarif__list-item {
    transition: 1s;
}

.tarif__list-item:hover {
    cursor: pointer;
    box-shadow: 0 0 47px 2px rgba(0, 0, 0, 0.1);
    transition: 124ms linear, transform 124ms linear;
}

.tarif__list-item:hover .tarif__item-name{
    background-color: #30aeec;
    transition: 124ms linear, transform 124ms linear;
}

.tarif__item-name {
    transition: 124ms linear, transform 124ms linear;
}

.tarif__list-item:hover .tarif__item-name h1{
    color: #fff;
}


.tarif__list-item:hover .tarif__item-mak h2  {
    color: rgba(7, 195, 0, 0.88);
    transition: 124ms linear, transform 124ms linear;
}

.tarif__item-mak h2 {
    transition: 124ms linear, transform 124ms linear;
}


.tarif__list-item:hover .tarif__item-price h3  {
    color: rgba(7, 195, 0, 0.88);
    transition: 124ms linear, transform 124ms linear;
}

.tarif__item-price h3 {
    transition: 124ms linear, transform 124ms linear;
}




/*Section-benefits*/

.benefits__container {
    padding-bottom: 185px;
}

.benefits__headline {
    text-align: center;
}

.benefits__content {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    
}

.benefits__content--sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.benefits__content--sup {
     display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
}

.benefits__content-block {
    margin-top: 50px;
    text-align: center;
}

.benefits__content-block h3 {
    margin-top: 21px;
}

.benefits__content-block p {
    color: #ccc;
    font-size: 14px;
    margin-top: 26px;
    line-height: 24px;
}
    
/*Section-domen*/

.domen {
    padding: 100px 0;
    background-color: #f5f5f5;
}

.domen__headline h2 {
        text-align: center;
}

.domen__search-form {
    margin-top: 55px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    
}

input[type="text"] {
    width: 608px;
    height: 55px;
    border: 1px solid #d0cece;
    font-size: 15px;
    padding-left: 15px;
    border-right: 0;
}

.form-domen {
    border: 1px solid #d0cece;
    font-size: 15px;
    font-weight: 800;
    width: 119px;
    padding-left: 15px;
    border-left: 0;
}

.gran {
    position: absolute;
    height: 30px;
    width: 1px;
    background-color: #d0cece;
    top: 24%;
    left: 62.9%
}

.domen__search-btn {
    height: 55px;
    width: 176px;
    background-color: #12c1f6;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: 124ms linear, transform 124ms linear;
}

.domen__search-btn:hover {
    transform: scale(1.08);
    transition: 2s;
    transition: 124ms linear, transform 124ms linear;
}

/*Section-reviews*/

.reviews {
    padding-bottom: 182px;
    padding-top: 185px;
}

.reviews__headline {
    text-align: center;
}

.reviews__content {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}

.reviews__block {
    max-width: 500px;
    border: 1px solid #e7e6e6;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    transition: 124ms linear, transform 124ms linear;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.reviews__block:hover {
    box-shadow:-2px 2px 20px -5px rgba(0, 0, 0, 0.7);
    transition: 124ms linear, transform 124ms linear;
}

.reviews__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews__text {
    font-size: 13px;
    line-height: 24px;
    color: #5f5f5f;
    font-weight: 600;
    margin-top: 30px;
    width: 389px
}

.reviews__name {
    margin-left: -80px;
}

.reviews__user-employment {
    color: #c2c2c2;
}

.reviews__user-name {
    font-size: 14px;
    font-weight: 600;
    line-height: 34px;
}

.reviews__review-data {
    color: #c2c2c2;
    line-height: 46px
}

/*bonus*/

.bonus {
    padding-bottom: 187px;
}

.bonus__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 24px;
    justify-content: space-between;
}

.bonus__block p{
    color: #ccc;
    font-size: 14px;
    margin-top: 38px;
}
.bonus__block h2 {
    margin-top: 42px;
}

.bonus__btn {
    height: 45px;
    width: 193px;
    background-color: #12c1f6;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-top: 40px;
    transition: 124ms linear, transform 124ms linear;
}

.bonus__btn:hover {
     background-color: rgba(1,1,1,.3);
     transition: 124ms linear, transform 124ms linear;
     color: #fff;
}

/*footer*/

.footer {
    display: flex;
    justify-content: center;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    min-width: 1400px;
}

footer {
    background-color: #00adef;
    padding-top: 108px;
    padding-bottom: 187px;
}

.footer__content {
    display: flex;
    
}
.footer__detals-information {
    display: flex;
    justify-content: space-between;
    min-width: 500px;

}


.footer__detals-information a {
    font-size: 14px;
    color: #d1d1d1;
    line-height: 30px;
    transition: 124ms linear, transform 124ms linear;
}

.footer__detals-information a:hover {
     transition: 124ms linear, transform 124ms linear;
     color: #fff;
}

.footer__head-li {
    font-size: 16px!important;
    color: #fff!important;
    font-weight: 600!important;
    margin-bottom: 20px;
    
}



.tarif__headline {
    text-align: center;
}

.tarif__button {
    text-align: center;
}
